// .nav{
//   position: fixed;
// }

.right{
  margin-left: auto;
}

button{
  margin-right: 5px;

  &:hover{
    background-color: #3f51b5;
    color: white;
  }
}

.active{
  background-color: #3f51b5;
  color: white;

  transition: all 0.5s ease;

  &:hover{
    background-color: #3f51b5;
    color: white;
  }


}
