<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
    <span>Pet App</span>
    <div class="right med-icon">
       <button
      *ngIf="isLoggedIn"
      mat-mini-fab
      matTooltip="Profile"
    >
      <mat-icon>
        person
      </mat-icon>
    </button>
    <button
    *ngIf="isLoggedIn"
      mat-mini-fab
      matTooltip="Logout"
      class="right med-icon"
      (click)="auth.logout({returnTo:logoutURL})"
      >
        <mat-icon>logout</mat-icon>
    </button>
    </div>

  </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isLoggedIn">
      <button mat-raised-button routerLink="/pets" routerLinkActive="active">Pets</button>
      <button mat-raised-button routerLink="/login" routerLinkActive="active">Pets</button>

    </mat-toolbar-row>
</mat-toolbar>

