table{
  td{
    padding: 10px;
  }

  th{
    padding:10px;
    background-color: white;
    cursor:default;

    &:hover{
      background-color: white;
    }
  }

  tr{
    cursor: pointer;

    &:hover{
      background-color: lightblue;
    }
  }
}
