table{
  width: 300px;

  td{
    padding-right:3px;
  }
}

.selected-row{
  background-color: lightblue;
}


.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  //cursor: pointer;
}

.mat-row:hover .mat-cell {
  background-color: lightblue;
  cursor: pointer;
}
