/* You can add global styles to this file, and also import other style files */
body{
    padding: 0px;
    margin:0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1{
  word-wrap: break-word;
}


.container{
  padding: 2vw;
  min-height: 80vh;
  overflow: auto;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 10px;
  row-gap: 10px;
}

.center-paginator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: auto;
  overflow: auto;
  padding-bottom: 10px;
}
