<mat-toolbar color="primary" class="nav">
  <mat-toolbar-row>
    <span>Pet App</span>
    <div class="right med-icon">
       <button
       routerLink="/user"
      *ngIf="isLoggedIn"
      mat-mini-fab
      matTooltip="{{userEmail}}"
    >
      <mat-icon>
        person
      </mat-icon>
    </button>
    <button
    *ngIf="isLoggedIn"
      mat-mini-fab
      matTooltip="Logout"
      class="right med-icon"
      (click)="auth.logout({returnTo:logoutURL})"
      >
        <mat-icon>logout</mat-icon>
    </button>
    </div>

  </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isLoggedIn">
      <button mat-raised-button routerLink="/pets" routerLinkActive="active">Pets</button>
      <button mat-raised-button routerLink="/treatments" routerLinkActive="active">Treatment</button>
      <button mat-raised-button routerLink="/procedures" routerLinkActive="active">Procedures</button>
      <button *ngIf="isAdmin" mat-raised-button routerLink="/create-user" routerLinkActive="active">Create User</button>
    </mat-toolbar-row>
</mat-toolbar>

