//source https://medium.com/ampersand-academy/scrollable-table-in-angular-material-6f488e114db0
.table-responsive {
  display: block;
  width: 100%;
  max-width: 1020px;
  overflow-x: auto;
  .mat-table, .mat-paginator {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}



.mat-row .mat-cell, .mat-paginator {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
